[Desktop Entry]
Name=Vertex
Comment=GTK client for vertex
Type=Application
Categories=Chat;InstantMessaging;GTK;
Keywords=Rust;GTK;Chat;
Icon=vertex_client_gtk

