@define-color content_bg_color #343434;
@define-color sidebar_bg_color #303030;
@define-color lower_bar_bg_color #2D2D2D;

@define-color room_list_bg_color #2D2D2D;
@define-color room_hover_color #323232;
@define-color room_selected_color #383838;

@define-color message_entry_color #343434;

* {
  border-style: none;
}

#communities {
  background: @sidebar_bg_color;
}

#sidebar_lower_bar {
  background: @lower_bar_bg_color;
}

#content_lower_bar {
  background: @lower_bar_bg_color;
}

#messages {
  background: @content_bg_color;
}

#message_entry {
  background: @message_entry_color;
  margin: 7px 4px;
  border-radius: 10px;
}

.no_hover *:hover {
  background: inherit;
  transition: none;
}

#room_list {
  background: @room_list_bg_color;
  padding: 5px 0px;
  border-radius: 4px;
}

#room_list row {
  margin-left: 35px;
  margin-right: 10px;
  border-radius: 6px;
}

#room_list row:hover {
  background: @room_hover_color;
}

#room_list row:selected {
  background: @room_selected_color;
}

#community_expander {
  margin: 4px 0px;
}

#community_header {
  margin: 4px;
}

#community_icon {
  min-width: 40px;
  min-height: 40px;

  background-image: url('icon.png');
  background-size: 40px;

  border-radius: 20px;
}

#community_icon border {
  border-style: none;
}

#community_label {
  font-size: 15px;
  font-weight: 600;
}

#room_label {
  font-size: 14px;
  font-weight: 500;
  padding-left: 4px;
}
