@define-color content_bg_color #343434;
@define-color sidebar_bg_color #313131;
@define-color upper_bar_bg_color #3D3D3D;
@define-color lower_bar_bg_color #2D2D2D;

@define-color room_list_bg_color #2D2D2D;
@define-color room_hover_color #323232;
@define-color room_selected_color #383838;

@define-color message_entry_color #343434;

@define-color widget_bg_color #3d3d3d;
@define-color widget_color #dadada;

@define-color error_color #d15c4f;

@define-color accent_color #8fa876;

/* general styling */

* {
  all: unset;
}

viewport {
  background: @content_bg_color;
}

entry {
  background: @widget_bg_color;
  color: @widget_color;
  caret-color: currentColor;

  padding: 5px 8px;
  border-radius: 10px;

  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

entry:focus {
  background: shade(@widget_bg_color, 1.2);
}

entry selection {
  color: #ffffff;
  background-color: @accent_color;
}

expander arrow {
  min-width: 16px;
  min-height: 16px;
  -gtk-icon-source: image(-gtk-recolor(url("feather/chevron-right.svg")));
}

expander arrow:checked {
  -gtk-icon-transform: rotate(90deg);
}

button {
  background: @widget_bg_color;
  color: @widget_color;

  padding: 5px 8px;
  border-radius: 10px;

  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

button:hover {
  background: shade(@widget_bg_color, 1.2);
}

button.flat {
  background: transparent;
}

button.flat:hover {
  background: @widget_bg_color;
}

list row {
  background: @sidebar_bg_color;
}

list row:hover {
  background: shade(@sidebar_bg_color, 1.1);
}

list row:selected {
  background: shade(@sidebar_bg_color, 1.3);
}

separator {
  background: shade(@sidebar_bg_color, 0.9);
  min-height: 2px;
}

@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn);
  }
}

spinner:checked {
  opacity: 1;
  animation: spin 12s linear infinite;
}

/* specific styling */

#active #upper_bar {
  background: @upper_bar_bg_color;
  min-height: 30px;
}

#active #sidebar {
  padding-top: 4px;
  min-width: 260px;
}

#active #sidebar, #communities {
  background: @sidebar_bg_color;
}

#active #add_community_button {
  background: transparent;
  border-style: solid;
  border-color: @widget_bg_color;
  border-width: 3px;
  margin: 10px;
  padding: 6px;
  border-radius: 20px;
}

#active #add_community_button:hover {
  background: @widget_bg_color;
}

#active #sidebar_lower_bar {
  background: @lower_bar_bg_color;
}

#active #content_lower_bar {
  background: @lower_bar_bg_color;
}

#active #messages {
  background: @content_bg_color;
}

#active #messages row, #active #message row:hover {
  background: @content_bg_color;
}

#active #message_entry {
  background: @message_entry_color;
  margin: 7px 4px;
  border-radius: 10px;
}

.no_hover *:hover {
  background: inherit;
  transition: none;
}

#active #room_list {
  background: @room_list_bg_color;
  padding: 5px 0px;
  border-radius: 4px;
}

#active #room_list row {
  background: @room_list_bg_color;
  margin-left: 35px;
  margin-right: 10px;
  border-radius: 6px;
}

#active #room_list row:hover {
  background: shade(@room_list_bg_color, 1.1);
}

#active #room_list row:selected {
  background: shade(@room_list_bg_color, 1.3);
}

#active #community_expander {
  margin: 4px 0px;
}

#active #community_header {
  margin: 4px;
}

#active #community_icon {
  min-width: 40px;
  min-height: 40px;

  background-image: url('icon.png');
  background-size: 40px;

  border-radius: 20px;
}

#active #community_icon border {
  border-style: none;
}

#active #community_name {
  color: #d0d0d0;
  font-size: 15px;
  font-weight: 600;
}

#active #community_motd {
  color: #a0a0a0;
  font-size: 12px;
  font-style: italic;
}

#active #room_label {
  color: #d0d0d0;
  font-size: 14px;
  font-weight: 500;
  padding-left: 4px;
}

#active #message {
  padding: 4px;
}

#active #message #author_name {
  font-size: 14px;
  font-weight: 500;
  padding-left: 2px;
}

#active #message #author_icon {
  min-width: 40px;
  min-height: 40px;

  background-image: url('icon.png');
  background-size: 40px;

  border-radius: 20px;
}

#active #message #message_content {
  color: #e0e0e0;
  padding-left: 2px;
}

#active #settings_button {
  background: @upper_bar_bg_color;
  margin: 4px;
  border-radius: 8px;
}

#active #settings_button:hover {
  background: shade(@upper_bar_bg_color, 1.2);
}

#login, #register {
  background: shade(@content_bg_color, 0.85);
}

#login frame, #register frame {
  background: @content_bg_color;
  min-width: 300px;
  min-height: 300px;
  padding: 40px;
  border-radius: 20px;
}

#login #title, #register #title {
  font-size: 16px;
}

#login #error_label, #register #error_label {
  color: @error_color;
  font-weight: 500;
}

#login .link, #register .link {
  color: #45a0d9;
  text-decoration-line: underline;
}

#login entry, #register entry {
  min-height: 26px;
}

#login button, #register button {
  min-height: 26px;
}

#settings #category_list {
  min-width: 228px;
  background: @sidebar_bg_color;
  padding: 16px;
}

#settings #category_list row {
  padding: 8px;
  border-radius: 10px;
}

#settings #category_list row label {
  padding-left: 4px;
  font-size: 14px;
}

#settings #log_out label {
  color: @error_color;
  font-weight: 600;
}

#settings #close label {
  font-weight: 600;
}

#loading label {
  font-size: 16px;
}

#loading spinner {
  min-width: 25px;
  min-height: 25px;
}
