[Desktop Entry]
Name=Vertex
Comment=GTK client for vertex
Type=Application
Exec=Vertex %u
Terminal=false
Categories=Chat;InstantMessaging;GTK;
Keywords=Rust;GTK;Chat;
Icon=cf.vertex.gtk
StartupNotify=true
MimeType=x-scheme-handler/vertex
