[Desktop Entry]
Name=Vertex
Comment=GTK client for vertex
Type=Application
Exec=Vertex
Terminal=false
Categories=Chat;InstantMessaging;GTK;
Keywords=Rust;GTK;Chat;
Icon=cf.vertex.gtk
StartupNotify=true
